<div class="form-group">
  <label for="bookTitle">Title</label>
  <input type="text"
         class="form-control"
         #bookTitle
         >
</div>
<div class="form-group">
  <label for="author">Author</label>
  <input type="text"
         class="form-control"
         #author>
</div>
<div class="form-group">
  <br />
  <select class="form-control"
          #bookFormat>
    <option>Hardcover</option>
    <option>Paperback</option>
    <option>E-Book</option>
  </select>
</div>
<button type="button"
        class="btn btn-primary" (click)=add(bookTitle)>Add</button>
